<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="milton.fs.resource.factory" class="it.grid.storm.ftwebapp.factory.FileSystemResourceFactory">
		<!-- root -->
		<constructor-arg index="0" value="_TO_DEFINE_" />
		<!-- contextPath -->
		<constructor-arg index="1" value="_TO_DEFINE_" />
	</bean>
	
	<bean id="milton.http.manager" class="io.milton.config.HttpManagerBuilder">
		<property name="mainResourceFactory" ref="milton.fs.resource.factory" />
		<property name="enableBasicAuth" value="false" />
		<property name="enableFormAuth" value="false" />
		<property name="enableCookieAuth" value="false" />
		<property name="enableCompression" value="false" />
		<!-- enableCompression may be true...? -->
		<property name="enabledJson" value="false" />
	</bean>

</beans>
